*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

#page-wrapper{
    position: relative;
}

body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

.logo{
    width: 60vw;
    display: block;
}

.logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

nav{
    font-weight: 400;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

form{
    display: flex;
    padding: 10px;
    flex-direction: column;
}

form > input[type='email']{
    padding: 7px;
    margin: 5px;
    width: 350px;
}

form > input[type='submit']{
    width: 50%;
    padding: 7px;
    margin: 10px auto;
    background-color: darkorange;
    color: #fff;
    font-weight: 800;
}

form > input[type='submit']:hover{
    width: 50%;
    padding: 7px;
    margin: 10px auto;
    background-color: orange;
    color: #fff;
    font-weight: 800;
    transition: 0.5s;
}

.flex-display{
    display: flex;
}

#features{
    margin-top: 30px;
}

.icon {
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 125px;
    width: 20vw;
    
    color: darkorange;
}

.content{
    display: flex;
    width: 80vw;
    flex-direction: column;
    margin: auto 0;
}

#how-it-works{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe{
    max-width: 600px;
    width: 100%;
}
/*#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300px;
    border: 1px solid blue;
}*/

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
    width: 280px;
    height: 100%;
}*/

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

/*.boxes > .box-title{
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border: 1px solid red;
}*/

.boxes > .box-title {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.boxes > h2{
    margin: 20px auto;
}

.boxes > ol {
    margin: 15px 0;
}

.boxes > ol > li{
    margin: 10px;
}

.boxes > button {
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    height: 40px; 
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer > ul{
    display: flex;
    justify-content: flex-end;
}

footer > ul > li{
    margin: 0 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
/*Faz com que o menu vá para debaixo da logo*/
@media (max-width: 600px) { 
    header {
      flex-wrap: wrap;
    }
}
/*Prepara a imagem-logo para se adequar melhor ao novo comprimento*/
@media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
}

@media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
}
/*Prepara o menu de navegação para mudar a posição de colunas para linha*/
@media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
    nav > ul {
        flex-direction: column;
    }
}
/*Move a headline junto do formulário para baixo, ficando visível, caso contrário seria coberto pelo menu do header*/
@media (max-width: 650px) {
    #headline {
      margin-top: 120px;
      margin-bottom: 0;
    }
}
/*Esconde os ícones que ocupariam muito espaço em uma largura pequena*/
@media (max-width: 550px) {
    #features .icon {
        display: none;
    }
    #features .content{
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
  }

  @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .boxes {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }